<!-- Background image -->
<div
  class="bg-image"
  style="
    background-image: url('./images/plane-image-1.jpeg');
    height: 100vh;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      {{!-- <h1 class="text-white mb-0">Page title</h1> --}}
      
      <form action="/verify" method="POST">
      {{#if err}}
      <p id="wrong">Wrong Email or Password</p>
      {{/if}}
        <div>
          <input type="email" id="email" name="email"/>
          <label for="email">Email address</label>
        </div>

        <!-- Password input -->
        <div>
          <input type="password" id="password" name="password"/>
          <label for="password">Password</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        {{!-- <div>
          <div>
            <a href="#!">Forgot password?</a>
          </div>
        </div> --}}

        <!-- Submit button -->
        <input type="submit" value="Sign In"></input>

        <!-- Register buttons -->
        <div>
          <p>Not a member? <a href="#!">Register</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Background image -->